@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --color-zinc-50: 250, 250, 250;
    --color-zinc-100: 244, 244, 245;
    --color-zinc-200: 228, 228, 231;
    --color-zinc-300: 212, 212, 216;
    --color-zinc-400: 161, 161, 170;
    --color-zinc-500: 113, 113, 122;
    --color-zinc-600: 82, 82, 91;
    --color-zinc-700: 63, 63, 70;
    --color-zinc-800: 39, 39, 42;
    --color-zinc-900: 24, 24, 27;
    --color-zinc-950: 9, 9, 11;

    --foreground-muted: var(--color-zinc-400);
    --background: var(--color-zinc-50);
    --background-secondary: 255, 255, 255;
    --background-tertiary: var(--color-zinc-100);
    --border-secondary: var(--color-zinc-100);
    --border: var(--color-zinc-200);
    --accent: 59, 130, 246;
    --error: 239, 68, 68;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}

body {
    color: rgb(var(--foreground));
    background: rgb(var(--background));
}

$container-max-width: 1280px;
@mixin container($pref: 95%, $max: $container-max-width) {
    width: min($pref, $max);
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}

.container {
    @include container();
}

.container-min {
    @include container($max: 425px);
}
