h1 {
    margin-bottom: 20px;
}

.heading {
    &.lg {
        font-size: 32px;
        font-weight: 700;
    }
    &.md {
        font-size: 24px;
        font-weight: 600;
    }
}

.label {
    font-size: 1rem;

    &.lg {
        font-size: 18px;
        font-weight: 500;
    }

    &.sm {
        font-size: 14px;
    }
    &.xs {
        font-size: 12px;
    }
}

.muted {
    color: rgb(var(--foreground-muted));
}

.uppercase {
    text-transform: uppercase;
}

.capitalized {
    text-transform: capitalize;
}

.centered {
    text-align: center;
}
