@mixin icon($size: 24px) {
    width: $size;
    height: $size;
}

.profileCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.title {
    margin-left: 12px;
}
.list {
    margin-top: 4px;
    background: var(--background-secondary);
    border: 1px solid var(--border);
    border-radius: 8px;

    li:not(:last-child) {
        .item {
            .content {
                border-bottom: 1px solid var(--border);
            }
        }
    }

    .item {
        height: 3rem;
        display: flex;
        align-items: center;
        gap: 12px;
        padding-inline: 12px;

        .icon {
            $size: 16px;
            height: 24px;
            aspect-ratio: 1;
            border-radius: 4px;

            display: grid;
            place-content: center;
            place-items: center;

            color: white;
            flex-shrink: 0;
            svg {
                @include icon($size);
            }
        }

        .content {
            height: 100%;
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: space-between;
            svg {
                color: var(--foreground-muted);
                @include icon(18px);
            }
        }
    }
}
