.group {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    .container {
        height: 48px;
        background: var(--background-secondary);
        border-radius: 0.5rem;
        padding-inline: 1rem;
        border: 1px solid var(--border);

        display: flex;
        align-items: center;
        gap: 0.75rem;

        caret-color: rgb(var(--accent));
        input::placeholder {
            color: var(--foreground-muted);
        }

        cursor: text;
    }
}
