.group {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    .container {
        height: 44px;
        background: rgb(var(--background-secondary));
        border-radius: 0.5rem;
        padding-inline: 1rem;
        border: 1px solid rgb(var(--border));

        display: flex;
        align-items: center;
        gap: 0.75rem;

        caret-color: rgb(var(--accent));

        svg {
            $size: 20px;
            width: $size;
            height: $size;
        }

        input::placeholder {
            color: rgb(var(--foreground-muted));
        }

        cursor: text;
    }
}
